<?xml version="1.0"?>
<model>
  <name>Amov Quad X Model Using NDI Control</name>
  <version>1.0</version>
  <sdf version='1.6'>amov_quadx_ndi.sdf</sdf>

  <author>
   <name>Wenxuan Gao</name>
   <email>jyz_john@sjtu.edu.cn</email>
  </author>

  <description>
    This is a model for NDI inner loop control, that maps to the default amov_quadx model
  </description>
</model>
