<?xml version="1.0"?>
<model>
  <name>AMOV Quad X Euler</name>
  <version>1.0</version>
  <sdf version='1.6'>amov_quadx_euler.sdf</sdf>

  <author>
   <name>Wenxuan Gao</name>
   <email>jyz_john@sjtu.edu.cn</email>
  </author>

  <description>
    This is a model of the AMOV Quadrotor using Euler angle for attitude control.
  </description>
</model>
