<?xml version="1.0"?>
<model>
  <name>AMOV Quad X Fixed on the Test Table</name>
  <version>1.0</version>
  <sdf version='1.6'>amov_quadx_tt.sdf</sdf>

  <author>
   <name>Wenxuan Gao</name>
   <email>jyz_john@sjtu.edu.cn</email>
  </author>

  <description>
    This is a model of the AMOV Quadrotor which is fixed on a test table.
  </description>
</model>
